language: php

sudo: false

php:
    - 5.6
    - 7.0
    - 7.1
    - 7.2
    - hhvm
    - nightly

matrix:
    allow_failures:
        - nightly

before_script:
    - composer install

before_script:
    - composer install --no-interaction
    - mkdir -p build/logs

script:
    - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_success:
    - travis_retry vendor/bin/coveralls -v
